.Navigation__Content {
    background-color: transparent;
    height: 76px;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 8px 16px;
    z-index: 1;

    .Navigation__Logo {
        float: left;
    }

    .Navigation__Menu {
        float: right;

        ul {
            li {
                display: inline;
                padding: 0 8px;

                a {
                    color: $textColor;
                    text-transform: uppercase;
                    // border-bottom: 2px solid $colorWhite;
                    // border-radius: 1px;
                    padding: 8px 16px;

                    &:hover {
                        text-decoration: none;
                        border-bottom: 2px solid $colorWhite;
                    }
                }
            }
        }
    }
}