$colorPrimaryLight: #d7e360;
$colorPrimary: #cddc39;
$colorPrimaryDark: #8f9a27;
$colorWhite: #fff;
$colorBlack: #000;
$colorDarkGrey: rgb(58, 58, 58);

$textColor: $colorWhite;
$textColorHeader: #f1f1f1;

$backgroundColor: $colorPrimaryDark;
